@page
@model CatalogModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    
</style>

<div class="container">
    <h1 class="text-center">Product Catalog</h1>

    <div class="row">
        @foreach(var product in Model.Products)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (string.IsNullOrWhiteSpace(product.ImageName) || product.ImageName == "no-image.png")
                    {
                        <img src="~/Content/img/no_image.png" class="card-img-top" alt="Product Image">
                    }
                    else
                    {
                        <img src="~/Content/Images/Uploads/Products/@product.Id/Thumbs/@product.ImageName" class="card-img-top" alt="Product Image" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod risus ac metus pretium dapibus.</p>
                        <p class="card-text font-weight-bold">@product.Price $</p>
                        <a asp-page="/Main/ProductInfo" asp-route-id="@product.Id" class="btn btn-primary">Product info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>