@page
@model Shop.WEB.Pages.DeliveryModel
@{
}

<div class="container text-center table-borderless border-1 border-dark" style="margin-top:30px; border-style:solid">
    <div class="row" style="padding-top:10px">
        <div class="col">Id</div>
        <div class="col">Name</div>
        <div class="col">Price</div>
        <div class="col"></div>
        <hr/>
    </div>
    @foreach(var delivery in Model.Deliveries)
    {
        <div class="row" style="padding-top:10px">
            <div class="col">@delivery.Id</div>
            <div class="col">@delivery.Date</div>
            <div class="col">@delivery.Store.Name</div>
            <div class="col">
                <a class="btn btn-info" asp-area="" asp-page="DeliveryDetails" asp-route-id="@delivery.Id">Details</a>
                <a class="btn btn-danger" asp-area="" asp-page="DeliveryDelete">Delete</a>
            </div>
            <hr />
        </div>
    }
</div>