@page
@model PriceChangeCreateModel


<form method="post" id="myForm" enctype="multipart/form-data" style="">    

    <div class="row">

        <label class="col">Product</label>

        <label class="col">Product Price</label>

    </div>
    
    @for(int i = 0; i < 10; i++)
    {
        <div class="row">

            <div class="form-group col row">
                <select name="changesDetails[@i].ProductId" asp-items="@Model.Products" class="form-control col"></select>
            </div>

            <input type="number" name="changesDetails[@i].NewPrice" class="col" value="0">

        </div>
    }

    <br />

    <button type="submit" class="btn btn-success col">Create price change</button>

</form>

@if (Model.ValidationErrors is not null)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in Model.ValidationErrors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}